<ng-container *ngIf="message">
    <div class="alert alert-dismissible fade show text-left message col-md-4 ml-auto"
        [ngClass]="{'alert-success': !isError, 'alert-danger': isError}" role="alert">
        {{ message }}
        <button type="button" class="close btn-sm" (click)="message = null" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</ng-container>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Payement</h1>

    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" routerLink="add_payement">
        <i class="fas fa-plus fa-sm text-white-50"></i> Ajouter</a>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Liste Payements</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive table-wrapper">
            <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Code Payemnt</th>
                        <th>Date Payement</th>
                        <th>Etudiant</th>
                        <th>Mt Formation</th>
                        <th>Mt Reglé</th>
                        <th>Solde</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let payement of payements; let i = index">
                        <td>{{ i + 1}}</td>
                        <td>{{payement.codePay}}</td>
                        <td>{{payement.datePay}}</td>
                        <td>{{payement.etudiant?.nomEt}} {{payement.etudiant?.prenomEt}}</td>
                        <td>{{payement.etudiant?.formation?.scolarite}}</td>
                        <td>{{payement.montantReg}}</td>
                        <td>{{payement.solde}}</td>
                        <td>
                            <a [routerLink]="['/payement/edit_payement', payement.id]"
                                class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a (click)="supprimerPayement(payement)" class="btn btn-danger btn-circle btn-sm" style="margin-left: 5px;">
                                <i class="fas fa-trash"></i>
                            </a>
                            <a [routerLink]="['/notification', payement.id]" class="btn btn-danger btn-circle btn-sm" style="margin-left: 5px;">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>