<ng-container *ngIf="message">
    <div class="alert alert-dismissible fade show text-left message col-md-4 ml-auto"
        [ngClass]="{'alert-success': !isError, 'alert-danger': isError}" role="alert">
        {{ message }}
        <button type="button" class="close btn-sm" (click)="message = null" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</ng-container>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Payement</h1>
    <a routerLink="/payement" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-plus fa-sm text-white-50"></i> Liste Payement</a>
</div>

<!-- Basic Card Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Enregistrement - Payement</h6>
    </div>
    <div class="card-body">
        <form #formPayement="ngForm" autocomplete="off">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Code Payement</label>
                    <input type="text" class="form-control" name="codePay" required [(ngModel)]="newPayement.codePay"
                        id="inputEmail4" placeholder="Code Payement">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword6">Date Payement</label>
                    <input type="date" class="form-control" name="datePay" required [(ngModel)]="newPayement.datePay"
                        id="inputPassword6">
                </div>              
                <div class="form-group col-md-3">
                    <label for="inputPassword7">Etudiant</label>
                    <select class="form-control" name="newIdEtudiant" [(ngModel)]="newIdEtudiant" (change)="onChangeEtudiant()">
                        <option selected value="">Choisir l'étudiant</option>
                        <option *ngFor="let et of etudiants" [value]="et.id">
                            {{et.nomEt}} {{et.prenomEt}}
                        </option>
                    </select>
                    <span *ngIf="scolar" style="color: brown;">Scolarité : {{scolar}}</span><br>
                    <span *ngIf="mtDejaRegle" style="color: brown;">Montant réglé : {{mtDejaRegle}}</span>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword8">Montant Reglement</label>
                    <input type="number" class="form-control" name="montantReg" *ngIf="mtDejaRegle>=0" required [(ngModel)]="newPayement.montantReg"
                        id="inputPassword8">
                </div>
                
                <!-- <input type="text" class="form-control" name="telParent" required [(ngModel)]="newPayement.m"> -->
                       
            </div>

            <div class="col text-right">
                <button type="reset" class="btn btn-warning">Annuler</button>
                <button type="submit" [disabled]="formPayement.invalid" (click)="addPayement()" style="margin-left: 5px;" class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
    </div>
</div>