<ng-container *ngIf="message">
    <div class="alert alert-dismissible fade show text-left message col-md-4 ml-auto"
        [ngClass]="{'alert-success': !isError, 'alert-danger': isError}" role="alert">
        {{ message }}
        <button type="button" class="close btn-sm" (click)="message = null" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</ng-container>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Etudiant</h1>
    <a routerLink="/etudiant" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-plus fa-sm text-white-50"></i> Liste Etudiant</a>
</div>

<!-- Basic Card Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Enregistrement - Etudiant</h6>
    </div>
    <div class="card-body">
        <form #formEtudiant="ngForm" autocomplete="off">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Code Etudiant</label>
                    <input type="text" class="form-control" name="codeAn" required [(ngModel)]="newEtudiant.codeEt"
                        id="inputEmail4" placeholder="Code Formation">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword6">Nom Etudiant</label>
                    <input type="text" class="form-control" name="nomEt" required [(ngModel)]="newEtudiant.nomEt"
                        id="inputPassword6" placeholder="Libellé">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword5">Prénom Etudiant</label>
                    <input type="text" class="form-control" name="prenomEt" required [(ngModel)]="newEtudiant.prenomEt"
                        id="inputPassword5">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword5">Sexe</label>
                    <select class="form-control" name="sexeEt" [(ngModel)]="newEtudiant.sexeEt">
                        <option selected value="">Choisir le sexe</option>
                        <option value="MASCULIN">MASCULIN</option>
                        <option value="FEMININ">FEMININ</option>
                        <option value="AUTRE">AUTRE</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword6">Date Naissance</label>
                    <input type="date" class="form-control" name="datenaissEt" required [(ngModel)]="newEtudiant.datenaissEt"
                        id="inputPassword6">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword7">Formation</label>
                    <select class="form-control" name="newIdFormation" [(ngModel)]="newIdFormation">
                        <option selected value="">Choisir la formation</option>
                        <option *ngFor="let fo of formations" [value]="fo.id">
                            {{fo.libelleFor}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword8">Mail Etudiant</label>
                    <input type="mail" class="form-control" name="mailEt" required [(ngModel)]="newEtudiant.mailEt"
                        id="inputPassword8">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword9">Tel Etudiant</label>
                    <input type="text" class="form-control" name="telEt" required [(ngModel)]="newEtudiant.telEt"
                        id="inputPassword9">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword10">Mail Parent</label>
                    <input type="mail" class="form-control" name="mailParent" required [(ngModel)]="newEtudiant.mailParent"
                        id="inputPassword10">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword11">Tel Parent</label>
                    <input type="text" class="form-control" name="telParent" required [(ngModel)]="newEtudiant.telParent"
                        id="inputPassword11">
                </div>
            </div>

            <div class="col text-right">
                <button type="reset" class="btn btn-warning">Annuler</button>
                <button type="submit" [disabled]="formEtudiant.invalid" (click)="addEtudiant()" style="margin-left: 5px;" class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
    </div>
</div>